body{
    background-image: url("https://images.unsplash.com/photo-1607438808367-65a2fc6f9c5b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
}

.form-institute-sign-up-1{
    
    background-color: white;
    display:flex;
    margin-left: 580px;
    margin-top: 10px;
    height: 700px;
    width: 400px;
    align-items: center;
    flex-direction: column;
    border: 3px solid red;
    border-radius: 4px;
    
}


.label-input{

    margin-top: 20px;
    font-size: 20px;
    
}

.input-user{
    width: 250px;
    font-size: 15px;
}

input[type=submit]{
    padding:10px;
    background-color: #67DB82;
    border-radius: 5px;
    color: black;
    margin-left: 200px;
    margin-top: -0px;
    
}

@media  screen and (max-width: 450px) {
    .form-institute-sign-up-1{
        margin-top: 30px;
        margin-left: 30px;
        height: 700px;
        width: 280px;
        
    }

    .input-user{
        width: 200px;
        
    }
    
    .label-input{
        margin-top: 20px;
        
    }

    input[type=submit]{
        padding:10px;
        background-color: #67DB82;
        border-radius: 5px;
        color: black;
        margin-left: 90px;
    }
}